services:
  redis:
    build: ./redis
    container_name: redis-server
    #    ports:
    #      - "6379:6379"
    volumes:
      - redis_data:/data
#    restart: unless-stopped
    networks:
      - backend
  app:
    build: .
    container_name: tiny-url-app
    depends_on:
      - redis
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - "8080:8080"
    volumes:
      - ./redis/certs/redis-truststore.jks:/app/certs/redis-truststore.jks:ro
    networks:
      - backend
volumes:
  redis_data:
networks:
  backend:
    driver: bridge