services:
  redis:
    build: ./redis
    container_name: redis-server
    #    ports:
    #      - "6379:6379"
    volumes:
      - redis_data:/data
#    restart: unless-stopped
    networks:
      - backend
  app:
    build: .
    container_name: tiny-url-app
    depends_on:
      - redis
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - "8080:8080"
    volumes:
      - ./redis/certs/redis-truststore.jks:/app/certs/redis-truststore.jks:ro
    networks:
      - backend
  vault:
    image: hashicorp/vault:1.21
    container_name: vault-server
    ports:
      - "8200:8200"
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: "root"
      VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8200
    cap_add:
      - IPC_LOCK
    command: ["vault", "server", "-config=/vault/config/vault.hcl"]
    volumes:
      - ./vault/config:/vault/config
      - ./vault/data:/vault/data
    networks:
      - backend
volumes:
  redis_data:
networks:
  backend:
    driver: bridge