services:
  redis:
    build: ./redis
    container_name: redis-server
#    ports:
#      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped
  app:
    build: .
    container_name: tiny-url-app
    depends_on:
      - redis
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - "8080:8080"
volumes:
  redis_data: